html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing:antialiased;
	list-style-type: none;	
	box-sizing:border-box;
	vertical-align:baseline;
	margin:0;
	padding:0;
	border:0;

}


.top-navigation {
    background-color: #fff;
    position:fixed;
    width:100%;
    z-index:9999;
    

}

.content {
    width: 970px;
    height: 75px;
    margin: 0 auto;
    padding: 10px 10px;
    list-style-type: none;
}

ol, ul {
	list-style:none;

}

.content > .links {
	list-style-type: none;	
	float: right;
	
}

.links > .active {
	color:#4c5058;
	font-weight:500;
}

.links > li {
	display: inline;
	padding-left: 30px;
	font-size: 1.1rem;
	font-stretch: -.8rem;

}

.links > li:hover,
.links > li:focus{
	color: black;
}

.main{
	
	background-image: url('../images/Background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size:cover;
	height:46rem;
	margin: 0 auto;
	background-position:0 bottom;
	color: white;
	text-align: center;
	padding-top: 15rem;
	
}

h1{
	font-size: 3.125rem;
	font-weight: lighter;
}

h3{
	font-weight: lighter;
	color: white;
	font-size: 1.563rem;
	margin-top:2.5rem;
	margin-bottom: 2rem;

}	

button{
	text-shadow:none;
	border-style:none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	display: block;
	width: 10rem;
	height: 3.5rem;
	font-size:1.125em;
	color:white;
	background-color: #F15B2A;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom:10px;


}

button:hover{
	background-color:#B42B00;
}

.secondary{
	margin: 0 auto;
	border-bottom: 25rem;
	min-width: 37.5rem;
}

.secondary ul{
	text-align: center;
}

h2{
	text-align: center;
	color:black;
	font-weight:lighter;
	font-size: 2.65rem;
	padding-top:8rem;
	padding-bottom:4rem;
}

.secondary ul > li{
	width:33%;
	float: left;
}

li h3{
	color: black;

	
}
.secondary ul li > img{	
	width: 127px;	
	margin: auto;
}


p{
	font-size:1rem;
	margin:0 auto;
	color: black;
	
}

.social{
	padding-bottom:10rem;
	display:inline;
	text-align:center;
	
	background-color:#fff;
	

}

.social hr {
	border:0;
	border-top:3px solid #eaebec;
	margin-top:5.313rem;
}

.social .icons {
	-webkit-padding-start:0px;
}
.social .icons li {
	display: inline-block;
}
.social .icons li > i{
	border-radius: 1.25rem;
	width: 2.5rem;
	height:2.5rem;
	margin:1.25rem 5px;
	border: 3px solid #eaebec;
	padding: 0.625rem 0;
	display:inline-block;
	text-align:center;
}

.social .twitter {
	color:#55acee;
}

.social .facebook {
	color:#4c66a4;
}

.social .instagram{
	color: #3f729b;
}

.center >p{
	font-size:1em;
}

.social .copy{
	font-size: 0.8rem;
	font-weight:300;
	padding-bottom: 7rem;

}

@media screen and (min-width: 48rem)
{	.content, .secondary{width:46rem;}}
@media screen and (min-width: 62rem)
{	.content, .secondary{width:60rem;}}
@media screen and (min-width: 75rem)
{	.content, .secondary{width:60%;}}
